# macOS
.DS_Store

# Clés privées (App Store Connect API, etc.) — NE JAMAIS committer
*.p8

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage (au cas où)
Pods/
Carthage/Build/
